$fontePrincipal: Roboto, sans-serif;
$fonteDoTitulo: Lobster, cursive;
$corDeTexto: #fff;
$corDefundo: #3800d3;
$corTextoDoBotao: #000;
$corDoFundoDoBotao: #f7f731;

body{
    background-color: $corDefundo;
    font-family: $fontePrincipal;
    color: $corDeTexto;
}

h1{
    font-family: $fonteDoTitulo;
    font-size: 3em;
}

main{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

input{
    display: block;
    margin: 16px auto 0;
    font-size: 2em;
    max-width: 120px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: $corDeTexto;
    border-bottom: 6px solid $corDeTexto;
}

button{
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 16px;
    border-radius: 8px;
    background-color: $corDoFundoDoBotao;
    color: $corTextoDoBotao;
    font-family: $fontePrincipal;
}

.resultado{
    padding: 16px;
    margin-top: 120px;
    border: 8px dotted $corDeTexto;
    display: none;

    span{
        font-weight: bold;
        font-size: 3em;
        display: block;
    }
}